CREATE TABLE public.asistencias_empleados (id uuid DEFAULT gen_random_uuid() PRIMARY KEY, empleado_id uuid REFERENCES public.empleados(id) ON DELETE CASCADE, fecha date DEFAULT CURRENT_DATE, hora_entrada time, hora_salida time, created_at timestamp with time zone DEFAULT timezone('utc'::text, now()), UNIQUE(empleado_id, fecha));
